{% extends "base.html" %}
{% load static %}

{% block page_header %}

    <div class="container page_header_container my-2">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center heading capitalize">Art Store</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form method="GET" action="{% url 'artwork' %}" class="form">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control w-80" id="search" name="q" placeholder="Search">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-dark">Search</button>
                            </div>
                        </div>
                    </div>       
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
            </div>
            <div class="col-md-auto align-center">
                <a href="{% url 'artwork' %}?medium=Oil" class="btn btn-dark">Oil</a>
                <a href="{% url 'artwork' %}?medium=Acrylics" class="btn btn-dark">Acrylics</a>
                <a href="{% url 'artwork' %}?medium=Watercolor" class="btn btn-dark">Watercolor</a>
                <a href="{% url 'artwork' %}?medium=Oil,Acrylics,Watercolor" class="btn btn-dark">All</a>
            </div>
            <div class="col-md">
            </div>
        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="container my-2">
        <div class="row">
            {% for artwork in artworks %}
            <div class="col-md-6 my-4">
                <div class="card pb-3">
                    <img src="{{MEDIA_URL}}{{ artwork.image }}" alt="item-image" class="card-img-top product_image">
                    <h3 class="card-title heading mt-2 px-4">{{ artwork.title }}</h3>
                    {% if artwork.price_discounted %}
                    <span class="badge bg-dark text-white">On Sale</span>
                    {% else %}
                    <span class="badge bg-dark text-dark">not on sale</span>
                    {% endif %}
                    <div class="card-body">
                        {% if artwork.price_discounted %}
                        <p class="card-text main-text px-4">Product Price: <span class="disscounted">${{ artwork.price }}</span></p>
                        <p class="card-text main-text px-4">Product Discounted Price: <span class="price">${{ artwork.price_discounted }}</span></p>                    
                        {% else %}
                        <p class="card-text main-text px-4 mt-3">Product Price: <span class="price">${{ artwork.price }}</span></p>
                        <br>
                        {% endif %}
                        <a href="{% url 'artwork_detail' artwork.id %}" class="btn btn-dark capitalize">view details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
