{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container page_header_container my-2">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center heading capitalize">Art Store</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    
    <div class="container-fluid details-container my-4">
        <div class="row">
            <div class="col-md-6 details-image-container py-4">
                <img src="{{ artworks.image.url }}" alt="{{ artwork.id}}">
            </div>
            <div class="col-md-6 px-4 py-4">
                <h2 class="heading">{{ artworks.title}}</h2>
                <p>{{artworks.description}}</p>
                <br>
                <br>
                <h5 class="heading">Medium: {{ artworks.medium}}</h5>
                <h5 class="heading">Canvas Type: {{ artworks.canvas_type}}</h5>
                <h5 class="heading">Canvas Size: {{ artworks.canvas_dimension}}</h5>
                <br>
                {% if artworks.price_discounted %}
                    <p class="main-text">Product Price: <span class="disscounted">${{ artworks.price }}</span></p>
                    <p class="main-text">Product Discounted Price: <span class="price">${{ artworks.price_discounted }}</span></p>                    
                {% else %}
                    <p class="main-text">Product Price: <span class="price">${{ artworks.price }}</span></p>
                    <br>
                {% endif %}
                <form class="form mt-2" action="{% url 'add_to_cart' artworks.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row w-50 number-input">
                        <h5 class="header capitalize">quantity</h5>
                        <input class="form-control" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ artworks.id }}" id="id_quant_{{ artworks.id }}">
                    </div>
                    <br>
                    <div class="form-row">
                        <a href="{% url 'artwork' %}" class="btn btn-dark mr-4">Keep Shopping</a>
                        {% if request.user.is_authenticated %}
                        <input type="submit" class="btn btn-dark" value="Add to Cart">
                        {% endif %}
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
