{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="heading capitalize text-center">shopping chart</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if cart_items %}
            <div class="table-responsive">    
                <table class="table my-2">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Image</th>
                            <th scope="col">Title</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart_items %}
                        <tr>
                            <td scope="row">
                                <img src="/media/{{ item.artwork.image }}" alt="{{ artwork.id}}">
                            </td>
                            <td>
                                {{ item.artwork.title}}
                            </td>
                            <td>
                                <form method="POST" action="" class="form update-form">
                                    {% csrf_token %}
                                    <div class="form-row w-50 number-input">
                                        <input class="form-control" type="number" name="quantity" value="{{item.quantity}}" min="1" max="99" data-item_id="{{ item.artwork.id }}" id="id_quant_{{ item.artwork.id }}">
                                    </div>
                                    <br>
                                    <div class="form-row">
                                        <a href="{% url 'artwork' %}" class="update-link badge badge-dark mb-1 mr-2">Update</a>
                                        <a href="{% url 'artwork' %}" class="remove-item badge badge-dark mb-1" id="remove_{{ item.item_id }}">Remove</a>
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    </div>
                                </form>
                            </td>
                            <td>
                                {% if item.artwork.price_discounted %}
                                    {{ item.total_discount }}
                                {% else %}
                                    {{ item.total }}
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <hr>
            <!-- cart footer -->
            <div class="align-right mb-3">
                <h5><strong class="heading uppercase">Cart Total: ${{ total|floatformat:2 }}</strong></h5>
                <a href="{% url 'artwork' %}" class="btn btn-dark mb-3 mt-3">Keep Shopping</a>
                <a href="" class="btn btn-dark">Secure Checkout</a>
            </div>

            {% else %}
                <p class="main-text">There are no items in the cart</p>
                <a href="{% url 'artwork' %}" class="btn btn-dark" >Keep Shopping</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postload_js %}
<script type="text/javascript">
    //update quantity click event
    $(".update-link").click(function(e) {
        let form = $(this).prev(".update-form");
        form.submit();
    })

    //remove item click event
    $(".remove-item").click(function(e) {
        let csrfToken = "{{ csrf_token }}";
        let itemId = $(this).attr("id").split('remove_')[1];
        let url = `/cart/remove/${itemId}`;
        let data = {'csrfmiddlewaretoken': csrfToken,};

        $.post(url, data)
         .done(function() {
            location.reload();
        });
    })    
</script>
{% endblock %}
