{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container page_header_container my-2">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center heading capitalize">about artsey</h1>
                <p class="main-text">The Artsey gallery and store was founded in 2014 as a passion project to enable amateur 
                    artist to sell their work, market their skills, and communicate with other artists. 
                    It has since then grown into a small yet sustainable business, providing bot a space to create and sell artwork. 
                    Occasionally we host exhibitions, workshops, and other community events… so stay tuned.</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container my-2">
        <div class="row">
            <div class="col-12">
                <h5>homepage</h5>
                <h5>homepage</h5>
                <h5>homepage</h5>
                <h5>homepage</h5>
                <h5>homepage</h5>
                <h5>homepage</h5>
                <h5>homepage</h5>
                <h5>homepage</h5>
                <h5>homepage</h5>
            </div>
        </div>
    </div>
{% endblock %}
